/** Base config */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

/** Local config */
body {
  min-width: 320px;
  font-family: "Muller", sans-serif;
  font-size: 1em;
  min-height: 100%;
  color: #000;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
  background-color: #c5bc4b;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/** Custom style */
:root {
  --color-black: #000;
  --color-blue: #3f2aff;
  --color-white: #ffffff;
  --color-sundance: #c5bc4b;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 75px;
  border-radius: 20px;
  max-width: 270px;
  min-height: 69px;
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
  color: var(--color-white);
  background-color: var(--color-blue);
  -webkit-transition: outline 0.2s, color .3s, -webkit-transform 0.3s;
  transition: outline 0.2s, color .3s, -webkit-transform 0.3s;
  -o-transition: outline 0.2s, transform 0.3s, color .3s;
  transition: outline 0.2s, transform 0.3s, color .3s;
  transition: outline 0.2s, transform 0.3s, color .3s, -webkit-transform 0.3s;
  &:focus-visible {
    outline-offset: 5px;
    outline: 1px solid var(--color-sundance);
  }
  &:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  &:active {
    background-color: var(--color-white);
    color: var(--color-blue);
  }
}