/** Base config */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

/** Local config */
body {
  min-width: 320px;
  font-family: var(--font-family), var(--second-family), var(--third-family), sans-serif;
  font-size: 1em;
  min-height: 100%;
  color: #000;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/** Custom style */
:root {
  --white: #fff;
  --primary: #6d31ee;
  --primary-shade: #4f28a5;
  --primary-light: #aa9dfa;
  --light-color: #e6e8ec;
  --text-gray: #a1a6b4;
  --shade-gray: #d2d5dd;
  --light-color-40: rgba(230, 232, 236, 0.4);
  --black: #121723;
  --light-black: #292e39;
  --red: #ff6f6f;
  --promo-color: #f0d288;
  --promo-color-shade: #bb973e;

  --font-family: "Muller";
  --second-family: "Muller-Trial";
  --third-family: "Open Sans";

  --gap: 30px;


}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
}

.headline {
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
}

.description {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-gray);
}

.button {
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
  padding: 24px 54px;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary);
}

figure {
  margin: 0;
}

.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  outline: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
  transition-property: outline, box-shadow, transform;
  transition-duration: 0.3s;

  &:focus-visible {
    outline: 1px solid var(--primary);
    outline-offset: 5px;
  }

  &:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }

  &:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
  }
}
