.header {
  padding-top: 26px;
  padding-bottom: 34px;
  min-height: 88px;
}

.header__container {
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: auto;
  outline: none;
  width: 160px;
  height: 25px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
  transition-property: outline, box-shadow, transform;
  transition-duration: 0.3s;

  &:focus-visible {
    outline: 1px solid var(--primary);
    outline-offset: 5px;
  }

  &:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }

  &:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
  }
}

.header__nav {
  display: flex;
  margin-right: 204px;
}

.nav__list {
  max-width: 646px;
  gap: 20px 46px;
}

.nav__link {
  outline: none;
  padding: 0.3em;
  font-weight: 400;
  font-size: 20px;
  white-space: nowrap;
  color: var(--black);
  transition: background 0.3s, color 0.3s;

  &:focus-visible {
    color: var(--white);
    background: var(--primary-light);
  }

  &:hover,
  :active {
    color: var(--primary);
  }

  &:active {
    color: var(--primary-shade);
  }
}

.header__search {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke: var(--primary);
  transition: stroke 0.3s;

  &:focus-visible svg {
    stroke: var(--primary-light);
  }

  &:hover {
    stroke: var(--primary-light);
  }

  &:active {
    stroke: var(--primary-shade);
  }
}

/** HERO */
.hero {
  padding-top: 27px;
  padding-bottom: 40px;
}

.hero__container {
  column-gap: 30px;
  justify-content: space-between;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 60px;
  max-width: 633px;
}

.hero__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  color: var(--black);

  &.hero__title--italic {
    font-family: var(--second-family);
    font-weight: 400;
    font-style: italic;
    line-height: 1;
  }
}

.hero__subtitle {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
}

.hero__btn {
  font-weight: 500;
  font-size: 20px;
  transition: border 0.2s, background 0.3s;

  &:focus-visible {
    border: 2px solid var(--primary-shade);
    background: var(--primary-light);
  }

  &:hover {
    background: var(--primary-light);
  }

  &:active {
    background: var(--primary-shade);
  }
}

.hero__image {
  display: inline-flex;
  max-width: 350px;
}