@media (width <= 1090px) {
  .header {
    position: relative;
    padding-bottom: 14px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 87px;
      border-top: 1px solid var(--light-color);
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 141px;
      border-bottom: 1px solid var(--light-color);
      width: 100%;
    }
  }

  .header__nav {
    flex-basis: 100%;
    justify-content: center;
    order: 1;
    margin: 0;
    padding: 49px 0 20px;
  }

  .nav__list {
    gap: 20px 105px;
  }

  .hero {
    padding-top: 15px;
  }

  .hero__container {
    padding-top: 62px;
  }

  .hero__content {
    max-width: 539px;
  }

  .about__description {
    &::before {
      content: "";
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      left: 114%;
      top: 13%;
      display: block;
      width: 255px;
      height: 255px;
      background: url("../image/icon/dawn.svg");
      background-repeat: no-repeat;
    }
  }

  .about-card {
    --offsets: 1;
  }
}

@media (width <= 885px) {
  .header {
    padding-top: 28px;
    padding-bottom: 11px;

    &::before {
      content: "";
      top: 80px;
    }

    &::after {
      content: "";
      top: 143px;
    }
  }

  .header__logo {
    width: 112px;
    height: 14px;
  }

  .nav__list {
    gap: 20px 105px;
  }

  .hero {
    padding-bottom: 89px;
  }

  .hero__title {
    margin-bottom: 16px;
  }

  .hero__subtitle {
    margin-bottom: 20px;
  }

  .broadcast {
    padding-bottom: 92px;
  }

  .broadcast-body {
    width: 32%;
  }

  .broadcast__list {
    --offsets: 1;

    width: 68%;
  }

  .guests {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .guest-card {
    padding-top: 49px;
  }

  .guests__text {
    width: 65%;
  }

  .guest-card__image {
    width: 60%;
  }

  .playlists__container {
    flex-direction: column;
    gap: 23px;
  }

  .playlists {
    padding-bottom: 93px;
  }

  .playlist-body {
    padding: 0;
    width: 100%;
  }

  .play-list {
    --offsets: 2;

    width: 100%;
    row-gap: 28px;
  }

  .play-list__item {
    flex-direction: row;
    align-items: center;
  }

  .play-list__content {
    padding: 4px 8px;
  }

  .play-list__image {
    max-width: 112px;

    &::before {
      left: 0;
    }
  }

  .sale {
    padding-top: 93px;
    padding-bottom: 92px;
  }

  .sale__image {
    position: relative;
    margin-bottom: 39px;
    width: 249%;

    &::before {
      left: 0;
      top: -7px;
      width: 100px;
      height: 100px;
    }
  }

  .about {
    padding-top: 95px;
    padding-bottom: 96px;
  }

  .about__description {
    width: 65%;

    &::after {
      content: "";
      position: absolute;
      left: 106%;
      top: 13%;
      display: block;
      width: 255px;
      height: 255px;
      background: url("../image/icon/dawn.svg");
      background-repeat: no-repeat;
    }
  }

  .about-card {
    --offsets: 1;

    padding-bottom: 31px;
  }

  .about-card__body {
    padding: 29px 0 0;
  }

  .form {
    width: 100%;
  }

  .footer-media {
    gap: 19px;
  }

  .footer-media__social {
    width: 113px;
    gap: 25px;
  }

  .social__icon--youtube {
    width: 28px;
    height: 21px;
  }

  .social__icon--ok {
    width: 24px;
    height: 22px;
  }

  .footer-nav {
    max-width: 440px;
  }
}

@media (width <= 840px) {
  .nav__list {
    gap: 20px 34px;
  }

  .hero__image {
    display: none;
  }

  .podcast-body {
    padding: 10px 5px 10px 20px;
  }

  .broadcast-body {
    padding-bottom: 123px;
    width: 100%;
  }

  .broadcast__list {
    --offsets: 1;

    margin: 0;
    padding-bottom: 89px;
    width: 100%;
  }

  .broadcast__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .broadcast-body__content {
    display: none;
  }

  .broadcast-hidden {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 97px;
    max-width: 358px;

    &::before {
      content: "";
      position: absolute;
      left: 7px;
      top: 0;
      width: 70px;
      height: 100%;
      background-image: url("../image/broadcast/mic.png");
      background-position: center;
      background-size: 70px 96px;
      background-repeat: no-repeat;
    }
  }

  .broadcast-hidden__btn {
    margin-bottom: 6px;
    outline: none;
    border: 2px solid var(--black);
    border-radius: 77px;
    padding: 11px 54px;
    color: var(--black);
    background-color: transparent;
    transition: color 0.3s, border-color 0.3s, background 0.3s;

    &:focus-visible {
      border-color: var(--primary);
      color: var(--white);
      background: var(--primary-light);
    }
  }

  .broadcast-hidden__btn:active {
    border-color: currentcolor;
    color: var(--white);
    background: var(--primary-shade);
  }

  .broadcast-hidden__descr {
    font-size: 16px;
    line-height: 150%;
  }

  .guests__text {
    width: 100%;
  }

  .guest-card {
    align-items: center;
  }

  .play-list {
    --offsets: 1;

    margin: 0;
  }

  .about__description {
    width: 100%;

    &::after {
      display: none;
    }
  }

  .form-row {
    --offsets: 0;

    flex-direction: column;
  }

  .form-row__label {
    min-height: 70px;
  }

  .form-row__input {
    min-height: 70px;
  }

  .footer-nav__list {
    columns: 2;
  }

  @media (any-hover: hover) {
    .broadcast-hidden__btn:hover {
      border-color: currentcolor;
      color: var(--white);
      background: var(--primary);
    }
  }
}

@media (width <= 599px) {
  .header {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 80px;
      border-top: 1px solid var(--light-color);
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 139px;
      border-bottom: 1px solid var(--light-color);
      width: 100%;
    }
  }

  .header__nav {
    padding: 49px 0 15px;
  }

  .nav__list {
    gap: 20px 54px;
  }

  .nav__link {
    font-size: 16px;
  }

  .hero__container {
    padding-top: 69px;
  }

  .podcast__list {
    --offsets: 0;
  }

  .podcast-body {
    padding: 30px;
  }

  .broadcast {
    padding-bottom: 30px;
  }

  .guests {
    padding-top: 93px;
    padding-bottom: 95px;
  }

  .guest-card {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 51px;
  }

  .guest-card__body {
    width: 67%;
  }

  .guest-card__image {
    width: 100%;
  }

  .description--guest {
    margin-bottom: 31px;
  }

  .playlists {
    padding-bottom: 111px;
  }

  .playlists__container {
    gap: 39px;
  }

  .play-list__image {
    flex-shrink: 0;
    width: 45%;

    &::before {
      left: 0;
      right: auto;
    }
  }

  .sale {
    padding-top: 54px;
    padding-bottom: 91px;
  }

  .sale__container {
    flex-direction: column;
    gap: 50px;
  }

  .sale__image {
    margin: 0;
    width: 100%;

    &::before {
      left: -2px;
      top: 0;
      width: 30%;
      height: 34%;
    }
  }

  .title--sale {
    width: 80%;

    &::after {
      content: "";
      width: 125%;
    }
  }

  .about {
    padding-top: 93px;
  }

  .about__description {
    position: relative;
    padding-bottom: 172px;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      left: -26%;
      top: 72%;
      display: block;
      width: 100%;
      height: clamp(10vh, 20vw, 30vh);
      background: url("../image/icon/spiral-big.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      left: 79%;
      top: 73%;
      display: block;
      width: 21%;
      height: clamp(10vh, 20vw, 30vh);
      background: url("../image/icon/dawn-small.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .about-card {
    padding-bottom: 29px;
  }

  .about-card__body {
    padding: 31px 0 0;
  }

  .footer {
    padding-top: 89px;
  }

  .footer-body {
    flex-direction: column;
    align-items: center;
  }

  .footer-media {
    align-items: center;
    padding: 0;
    gap: 18px;
  }

  .footer-media__social {
    align-items: center;
    width: 94%;
    gap: 25px;
  }

  .social__icon--youtube {
    width: 36px;
    height: 36px;
  }

  .social__icon--ok,
  .social__icon--vk {
    width: 30px;
    height: 30px;
  }

  .footer__container {
    padding-bottom: 50px;
  }

  .footer-nav {
    padding: 79px 0 16px;
    max-width: 100%;
  }

  .footer-nav__list {
    columns: 3;
    column-width: 64px;
    column-gap: 173px;
  }

  .footer-nav__item {
    &:not(:last-child) {
      padding-bottom: 28px;
    }
  }

  .footer-bottom__wave > svg {
    min-height: 30px;
  }

  .footer-registered {
    padding-top: 4px;
  }
}

@media (width <= 580px) {
  .header__nav {
    justify-content: flex-start;
    overflow: auto hidden;
    margin: 0;
    padding: 49px 0 15px;
    white-space: nowrap;
  }

  .hero__title {
    font-size: 53px;
  }

  .broadcast-hidden__descr {
    margin-bottom: 6px;
    font-size: 14px;
  }

  .guest-card__body {
    width: 100%;
  }

  .play-list {
    --offsets: 2;
  }

  .play-list__item {
    flex-direction: column;
    align-items: flex-start;
  }

  .play-list__image {
    width: 100%;
    max-width: 160px;
  }

  .footer-nav {
    width: 100%;
  }

  .footer-nav__list {
    column-gap: 121px;
  }
}

@media (width <= 455px) {
  .hero__container {
    padding-top: 30px;
  }

  .hero__title {
    margin-bottom: 7px;
    font-size: 32px;
    line-height: 1;
  }

  .podcast-body {
    padding: 18px;
  }

  .broadcast-body {
    padding-bottom: 50px;
  }

  .broadcast__list {
    --offsets: 0;
  }

  .play-list {
    --offsets: 1;
  }

  .play-list__image {
    width: 100%;
    max-width: 182px;
  }

  .title--sale {
    width: 100%;

    &::after {
      content: "";
      width: 100%;
    }
  }

  .about__description {
    &::before,
    &::after {
      top: 80%;
    }
  }

  .about-card__body {
    padding: 13px 5px 1px 0;
  }

  .headline--about {
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 128%;
  }

  .description--about {
    font-size: 12px;
    line-height: 139%;
  }

  .footer-nav__list {
    columns: 2;
  }
}

@media (width <= 316px) {
  .header {
    padding-top: 11px;
    padding-bottom: 25px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50px;
      border-top: 1px solid var(--light-color);
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 99px;
      border-bottom: 1px solid var(--light-color);
      width: 100%;
    }
  }

  .header__logo {
    width: 87px;
    height: 10px;
  }

  .header__nav {
    justify-content: flex-start;
    overflow: auto hidden;
    margin: 0;
    padding: 31px 0 15px;
    white-space: nowrap;
  }

  .nav__list {
    gap: 25px;
  }

  .hero {
    padding-top: 16px;
    padding-bottom: 39px;
  }

  .hero__container {
    padding-top: 0;
  }

  .hero__content {
    max-width: 256px;
  }

  .hero__subtitle {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .hero__btn {
    padding: 16px 45px;
    font-size: 16px;
  }

  .podcast {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .podcast__title {
    margin-bottom: 19px;
    font-size: 24px;
  }

  .podcast-card__link {
    flex-direction: column;
    align-items: flex-start;
  }

  .podcast-wrapper__image {
    display: block;
    width: 100%;
    height: auto;
  }

  .podcast-body {
    padding: 30px 16px;
  }

  .headline--podcast {
    font-size: 16px;
  }

  .description--podcast {
    font-size: 12px;
  }

  .podcast-wrapper__caption {
    bottom: 55px;
    width: 20%;
    height: 23%;
  }

  .broadcast {
    position: relative;
    padding-top: 54px;
    padding-bottom: 53px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 189px;
      border-top: 1px solid var(--light-color);
      width: 100%;
    }
  }

  .broadcast-body {
    padding: 0;
  }

  .broadcast__list {
    --offsets: 1;

    padding-bottom: 62px;
  }

  .broadcast-body__title {
    margin-bottom: 29px;
    font-size: 24px;
  }

  .broadcast-card {
    min-height: 147px;
  }

  .broadcast-card__content {
    padding: 9px 10px 11px 9px;
  }

  .headline--broadcast {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1;
  }

  .description--broadcast {
    margin-bottom: 14px;
    font-size: 9px;
  }

  .broadcast-card__btn {
    font-size: 12px;
    color: var(--primary);

    & svg {
      stroke: currentcolor;
    }
  }

  .broadcast-card__btn:active {
    color: var(--primary-shade);

    .broadcast-card__btn:active svg {
      stroke: currentcolor;
    }
  }

  .broadcast-card__image {
    height: 50px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .broadcast-hidden {
    flex-direction: column-reverse;
    padding-left: 68px;

    &::before {
      content: "";
      position: absolute;
      left: -23px;
      top: -1px;
      width: 31%;
      height: 100%;
      background-image: url("../image/broadcast/mic.png");
      background-position: center;
      background-size: 77px 104px;
      background-repeat: no-repeat;
    }
  }

  .broadcast-hidden__btn {
    margin: 0;
    padding: 7px 29px;
  }

  .guests {
    padding-top: 55px;
    padding-bottom: 53px;
  }

  .guests__title {
    margin-bottom: 11px;
    font-size: 24px;
  }

  .guests__descr {
    margin-bottom: -1px;
    font-size: 14px;
  }

  .guests__text {
    font-size: 14px;
  }

  .guest-card {
    padding-top: 28px;
    gap: 0;
  }

  .guest-card__image {
    margin-bottom: 10px;
    width: 100%;
  }

  .guest-card__btn {
    padding: 7px 13px;
  }

  .playlists {
    padding-top: 55px;
    padding-bottom: 51px;
  }

  .playlists__container {
    gap: 38px;
  }

  .playlist-body__title {
    font-size: 24px;
  }

  .playlist-body {
    width: 88%;
  }

  .playlist-body__text {
    font-size: 12px;
    line-height: 1.333;
  }

  .playlist-body__copy {
    font-size: 12px;
    line-height: 183%;
  }

  .play-list {
    row-gap: 28px;
  }

  .play-list__image {
    width: 100%;

    &::before {
      left: auto;
      right: 0;
    }
  }

  .play-list__content {
    padding: 10px 8px;
  }

  .headline--playlist {
    margin-bottom: 4px;
    font-size: 12px;
  }

  .description--playlist {
    font-size: 9px;
  }

  .sale {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .sale__image {
    &::before {
      left: 2px;
      top: 1px;
      width: 24%;
      height: 27%;
    }
  }

  .sale__container {
    gap: 37px;
  }

  .sale__body {
    width: 100%;
  }

  .title--sale {
    margin-bottom: 40px;
    font-size: 24px;

    &::after {
      content: "";
      bottom: -23px;
      width: 100%;
    }
  }

  .description--sale {
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 158%;
    row-gap: 10px;
  }

  .sale__price {
    margin-bottom: 18px;
    font-size: 24px;
  }

  .button--sale {
    padding: 13px 14px;
    font-size: 16px;
  }

  .title-about {
    margin-bottom: 11px;
    font-size: 24px;
  }

  .about {
    padding-top: 54px;
    padding-bottom: 53px;
  }

  .about__description {
    padding-bottom: 29px;

    &::after,
    &::before {
      content: "";
      display: none;
    }
  }

  .about-card {
    padding-bottom: 12px;
  }

  .about__subtitle {
    margin-bottom: 4px;
    font-size: 14px;
  }

  .about__text {
    font-size: 14px;
    line-height: 158%;
  }

  .form-column__textarea {
    border-radius: 20px;
    padding: 14px 23px;
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
    }
  }

  .form-row__label {
    min-height: 50px;
  }

  .form-row__input {
    padding: 10px 24px;
    min-height: 50px;
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
    }
  }

  .form-submit {
    gap: 21px;
  }

  .form-submit__btn {
    padding: 15px 45px;
    font-size: 16px;
  }

  .custom-checkbox__descr {
    font-size: 9px;
  }

  .footer {
    padding-top: 51px;
  }

  .footer-media {
    padding-bottom: 55px;
  }

  .footer-nav {
    position: relative;
    padding: 29px 0 35px;

    &::before {
      content: "";
      position: absolute;
      left: -30px;
      right: -30px;
      top: 0;
      height: 97%;
      background: var(--black);
    }
  }

  .footer-nav__list {
    column-gap: 33px;
  }

  .footer-nav__item {
    font-size: 12px;

    &:not(:last-child) {
      padding-bottom: 21px;
    }
  }

  .footer__container {
    padding-bottom: 19px;
  }

  .footer-registered {
    font-size: 12px;
    line-height: 1.03;

    &::before {
      bottom: 21px;
    }
  }

  @media (any-hover: hover) {
    .broadcast-card__btn:hover {
      color: var(--black);

      .broadcast-card__btn:hover,
      svg {
        stroke: currentcolor;
      }
    }
  }
}
