@media (max-width: px) {
  .header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 80px;
    border-top: 1px solid var(--light-color);
    width: 100%;
  }

  .header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 139px;
    border-bottom: 1px solid var(--light-color);
    width: 100%;
  }

  .header__nav {
    padding: 49px 0 15px;
  }

  .nav__list {
    gap: 20px 54px;
  }

  .hero__container {
    padding-top: 69px;
  }

  .podcast__list {
    --offsets: 0;
  }

  .podcast-body {
    padding: 30px;
  }

  .broadcast {
    padding-bottom: 30px;
  }

  .guests {
    padding-top: 96px;
    padding-bottom: 95px;
  }

  .guest-card {
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-align: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-align: start;
  }

  .guest-card__body {
    width: 67%;
  }

  .guest-card__image {
    width: 100%;
  }

  .description--guest {
    margin-bottom: 31px;
  }

  .playlists {
    padding-bottom: 111px;
  }

  .playlists__container {
    gap: 39px;
  }

  .play-list__image {
    flex-shrink: 0;
    width: 45%;
    -ms-flex-negative: 0;
  }

  .play-list__image::before {
    left: 0;
    right: auto;
  }
}

@media (max-width: 580px) {
  .guest-card__body {
    width: 100%;
  }

  .play-list {
    --offsets: 2;
  }

  .play-list__image {
    width: 100%;
    max-width: 160px;
  }

  .footer-nav {
    width: 100%;
  }

  .footer-nav__list {
    -webkit-column-gap: 121px;
    -moz-column-gap: 121px;
    column-gap: 121px;
  }
}

@media (max-width: 455px) {
  .play-list__image {
    width: 100%;
    max-width: 182px;
  }

  .title--sale {
    width: 100%;
  }

  .title--sale::after {
    content: "";
    width: 100%;
  }

 

 

  .footer-nav__list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}

