@media (max-width: 1070px) {
  .header__nav {
    margin-right: 0;
    order: 1;
    flex-basis: 100%;
    padding: 20px 0 20px;
  }

  .nav__link {
    padding: 0;
  }
}

@media (max-width: 939px) {
  .hero__container {
    /* width: 100%; */
  }

  .hero__image {
    display: none;
  }

  .broadcast__list {
    --offsets: 1;
  }
}
