/* stylelint-disable no-descending-specificity */

.header {
  padding-top: 31px;
  padding-bottom: 39px;
  min-height: 88px;
}

.header__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
          align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
}

.header__logo {
  margin-right: auto;
  width: 160px;
  height: 25px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 208px;
}

.nav__list {
  gap: 20px 59px;
}

.nav__link {
  position: relative;
  display: inline-block;
  outline: none;
  font-weight: 400;
  font-size: 20px;
  white-space: nowrap;
  color: var(--black);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;

  &::after {
    content: "";
    position: absolute;
    left: -5%;
    top: -5%;
    z-index: -1;
    width: 110%;
    height: 110%;
    background-color: var(--primary-light);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
}

.nav__link:focus-visible {
  color: var(--white);
}

.nav__link:focus-visible::after {
  opacity: 1;
}

@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--primary);
  }
}

.nav__link:active {
  color: var(--primary-shade);
}

.header__search {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke: var(--primary);
  -webkit-transition: stroke 0.3s;
  -o-transition: stroke 0.3s;
  transition: stroke 0.3s;

  & svg {
    aspect-ratio: 1/1;
  }

  &:focus-visible svg {
    stroke: var(--primary-light);
  }
}

@media (any-hover: hover) {
  .header__search:hover svg {
    stroke: var(--primary-light);
  }
}

.header__search:active svg {
  stroke: var(--primary-shade);
}

/** HERO */
.hero {
  padding-top: 30px;
  padding-bottom: 37px;
}

.hero__container {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
          justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
  max-width: 633px;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
      -ms-flex-align: start;
      -ms-flex-pack: center;
}

.hero__title {
  margin-bottom: 14px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  color: var(--black);

  &.hero__title--italic {
    font-family: var(--second-family);
    font-weight: 400;
    font-style: italic;
    line-height: 1;
  }
}

.hero__subtitle {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
}

.hero__btn {
  font-weight: 500;
  font-size: 20px;
  -webkit-transition: outline 0.2s, background 0.3s;
  -o-transition: outline 0.2s, background 0.3s;
  transition: outline 0.2s, background 0.3s;

  &:focus-visible {
    outline: 2px solid var(--primary-shade);
    background: var(--primary-light);
  }
}

@media (any-hover: hover) {
  .hero__btn:hover {
    background: var(--primary-light);
  }
}

.hero__btn:active {
  background: var(--primary-shade);
}

.hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 350px;
  background-color: var(--text-gray);
}

/** PODCAST */
.podcast {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--light-color);
}

.podcast__list {
  --offsets: 1;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap);
}

.podcast__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          align-items: center;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  background: var(--white);
  -webkit-box-align: center;
      -ms-flex-align: center;
}

.podcast__title {
  margin-bottom: 31px;
}

.podcast-card {
  width: 100%;
}

.podcast-card__link {
          align-items: center;
  outline: none;
  -webkit-transition: outline 0.3s ease;
  -o-transition: outline 0.3s ease;
  transition: outline 0.3s ease;
  -webkit-box-align: center;
      -ms-flex-align: center;

  &:focus-visible {
    outline: 1px solid var(--primary);
  }

  &:hover .podcast-wrapper__image{
    opacity: 0.5;
  }

  &:active .podcast-wrapper__image{
    opacity: 0.3;
  }
}

.podcast-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-shrink: 0;
  background: var(--text-gray);
  -ms-flex-negative: 0;
}

.podcast-wrapper__image {
  width: 112px;
  height: 140px;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}


.podcast-wrapper__caption {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          align-items: center;
          justify-content: center;
  width: 45%;
  height: 12%;
  font-weight: 400;
  font-size: 10px;
  color: var(--black);
  background: var(--light-color);
  -webkit-box-align: center;
  -webkit-box-pack: center;
      -ms-flex-align: center;
      -ms-flex-pack: center;
}

.podcast-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.podcast-body__time {
  margin-bottom: 5px;
  font-size: 12px;
  color: var(--black);
}

.headline--podcast {
  margin-bottom: 2px;
  font-weight: 400;
}

.description--podcast {
  font-size: 16px;
  color: var(--text-gray);
}

/* *BROADCAST */

.broadcast-hidden {
  display: none;
}

.broadcast {
  padding-top: 93px;
  padding-bottom: 95px;
}

.broadcast__container {
  gap: 30px;
}

.broadcast-body {
      -ms-flex-direction: column;
          flex-direction: column;
  width: 26%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.broadcast-body__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-grow: 1;
      -ms-flex-direction: column;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-pack: end;
      -ms-flex-align: start;
      -ms-flex-pack: end;
      -ms-flex-positive: 1;

  &::before {
    content: "";
    width: 65px;
    height: 119px;
    background-image: url("../image/broadcast/mic.png");
    background-position: 0 7px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.button--broadcast-color {
  margin-bottom: 10px;
  outline: none;
  border: 2px solid var(--black);
  border-radius: 77px;
  padding: 11px 54px;
  color: var(--black);
  background-color: transparent;
  -webkit-transition: color 0.3s, border-color 0.3s, background 0.3s;
  -o-transition: color 0.3s, border-color 0.3s, background 0.3s;
  transition: color 0.3s, border-color 0.3s, background 0.3s;

  &:focus-visible {
    border-color: var(--primary);
    color: var(--white);
    background: var(--primary-light);
  }
}

@media (any-hover: hover) {
  .button--broadcast-color:hover {
    border-color: currentcolor;
    color: var(--white);
    background: var(--primary);
  }
}

.button--broadcast-color:active {
  border-color: currentcolor;
  color: var(--white);
  background: var(--primary-shade);
}

.broadcast__list {
  --offsets: 2;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 14px;
  width: 84%;
  gap: var(--gap);
}

.broadcast__item {
  border: 1px solid var(--light-color);
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  background: var(--white);
}

.broadcast-card {
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.broadcast-card__content {
          flex-grow: 1;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 19px 16px;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
      -ms-flex-positive: 1;
}

.description--broadcast {
  margin-bottom: 18px;
  font-size: 12px;
}

.broadcast-card__btn {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
          align-items: center;
  margin-top: auto;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--second-family);
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  color: var(--black);
  -webkit-transition: color 0.3s, stroke 0.3s, background 0.3s;
  -o-transition: color 0.3s, stroke 0.3s, background 0.3s;
  transition: color 0.3s, stroke 0.3s, background 0.3s;
  -webkit-box-align: center;
      -ms-flex-align: center;

  & svg {
    width: 26px;
    height: 12px;
    stroke: #121723;
  }

  &:focus-visible {
    color: var(--white);
    background: var(--primary-light);

    &:focus-visible svg {
      stroke: currentcolor;
    }
  }
}

@media (any-hover: hover) {
  .broadcast-card__btn:hover {
    color: var(--primary);

    .broadcast-card__btn:hover,
    svg {
      stroke: currentcolor;
    }
  }
}

.broadcast-card__btn:active {
  color: var(--primary-shade);

  .broadcast-card__btn:active svg {
    stroke: currentcolor;
  }
}

.broadcast-body__descr {
  max-width: 255px;
  font-size: 16px;
  line-height: 150%;
}

/* *GUESTS */

.guests {
  padding-top: 93px;
  padding-bottom: 96px;
  background: var(--black);
}

.guests__title {
  margin-bottom: 13px;
  color: var(--white);
}

.guests__descr {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--text-gray);
}

.guests__text {
  width: 70%;
  min-height: 64px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: var(--text-gray);
}

.guest-card {
  padding-top: 50px;
  max-width: 920px;
  gap: 30px;
}

.guest-card__image {
  width: 47%;
}

.guest-card__body {
          flex-grow: 1;
      -ms-flex-direction: column;
          flex-direction: column;
          align-items: flex-start;
  width: 50%;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
      -ms-flex-align: start;
      -ms-flex-positive: 1;
}

.headline--guest {
  margin-bottom: 6px;
  color: var(--white);
}

.description--guest {
  line-height: 1.8;
}

.guest-card__btn {
  margin-top: auto;
  outline: none;
  border: 2px solid var(--primary-light);
  border-radius: 77px;
  padding: 8px 18px;
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-light);
  background-color: transparent;
  -webkit-transition: border-color 0.3s, background 0.3s, border-color 0.3s;
  -o-transition: border-color 0.3s, background 0.3s, border-color 0.3s;
  transition: border-color 0.3s, background 0.3s, border-color 0.3s;

  &:focus-visible {
    border-color: var(--primary);
    color: var(--white);
    background: var(--primary);
  }
}

@media (any-hover: hover) {
  .guest-card__btn:hover {
    border-color: var(--primary-light);
    color: var(--white);
    background: var(--primary-light);
  }
}

.guest-card__btn:active {
  border-color: var(--primary-shade);
  color: var(--white);
  background: var(--primary-shade);
}

/* *PLAYLIST */

.playlists {
  padding-top: 93px;
  padding-bottom: 91px;
}

.playlists__container {
  gap: 30px;
}

.playlist-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 50px;
  width: 34%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.playlist-body__title {
  margin-bottom: 12px;
}

.playlist-body__text {
  margin-bottom: 1px;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: var(--text-gray);
}

.playlist-body__copy {
  margin-bottom: 13px;
  font-family: var(--second-family);
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  line-height: 137%;
  color: var(--text-gray);
}

.playlist-body__age-rating {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
          align-items: center;
          justify-content: center;
  max-width: 30px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--text-gray);
  -webkit-box-align: center;
  -webkit-box-pack: center;
      -ms-flex-align: center;
      -ms-flex-pack: center;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid var(--text-gray);
    border-radius: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    aspect-ratio: 1 / 1;
  }
}

.play-list {
  --offsets: 3;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
  width: 72%;
  gap: var(--gap);
}

.play-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid var(--light-color);
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  background: var(--white);
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.play-list__content {
  padding: 16px;
}

.headline--playlist {
  font-size: 16px;
}

.description--playlist {
  font-size: 12px;
}

.play-list__image {
  display: block;
  max-width: 160px;
}

.play-list__image::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  width: 22px;
  height: 19px;
  background-position: center;
  background-size: 16px 15px;
  background-repeat: no-repeat;
  background-color: var(--black);
}

.play-list__image--russia::before {
  background-image: url("../image/icon/flag-rf.svg");
}

.play-list__image--england::before {
  background-image: url("../image/icon/flag-england.svg");
}

/** SALE **/

.sale {
  padding-top: 95px;
  padding-bottom: 131px;
  background: var(--light-black);
}

.sale__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
          align-items: center;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
      -ms-flex-align: center;
      -ms-flex-pack: justify;
}

.sale__image {
  position: relative;
  width: 265%;

  &::before {
    content: "";
    position: absolute;
    left: -5px;
    top: -11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 160px;
    height: 160px;
    background-image: url("../image/picture/radio-new.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.sale__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
          align-items: flex-start;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
      -ms-flex-align: start;
}

.title--sale {
  position: relative;
  margin-bottom: 48px;
  color: var(--promo-color);

  &::after {
    content: "";
    position: absolute;
    bottom: -31px;
    display: block;
    width: 100%;
    height: 12px;
    background-image: url("../image/icon/wool.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.description--sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  line-height: 1.8;
  color: var(--white);
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  row-gap: 13px;
}

.sale__price {
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 30px;
  color: var(--white);
}

.button--sale {
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  outline: none;
  border: 2px solid var(--promo-color);
  padding: 24px 11px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--promo-color);
  background-color: transparent;
  -webkit-transition: color 0.3s, background 0.3s, border-color 0.3s;
  -o-transition: color 0.3s, background 0.3s, border-color 0.3s;
  transition: color 0.3s, background 0.3s, border-color 0.3s;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  gap: 8px;

  & svg {
    border-radius: 50%;
    width: 20px;
    fill: #121723;
    background-color: #f0d288;
    -webkit-transition: color 0.3s, background 0.3s;
    -o-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s;
    aspect-ratio: 1/1;
  }

  &:focus-visible {
    color: var(--black);
    background: var(--promo-color-shade);
  }
}

@media (any-hover: hover) {
  .button--sale:hover {
    color: var(--black);
    background: var(--promo-color);

    & svg {
      fill: #f0d288;
      background-color: #121723;
    }
  }
}

.button--sale:active {
  border-color: var(--promo-color-shade);
  color: var(--black);
  background: var(--promo-color-shade);

  & svg {
    fill: #f0d288;
    background-color: #121723;
  }
}

/** ABOUT **/

.about {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--black);
}

.about__description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 29px;
  width: 58%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.about__description::after {
  content: "";
  position: absolute;
  left: 133%;
  top: 6%;
  display: block;
  width: 255px;
  height: 255px;
  background: url("../image/icon/dawn.svg");
  background-repeat: no-repeat;
}

.about__description::before {
  content: "";
  position: absolute;
  left: 103%;
  top: 0%;
  display: inline-block;
  width: 160px;
  height: 290px;
  background: url("../image/icon/spiral.svg");
}

.title-about {
  margin-bottom: 13px;
  color: var(--white);
}

.about__subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--text-gray);
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--text-gray);
}

.about-card {
  --offsets: 3;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 20px;
  gap: var(--gap);
}

.about-card__item {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.about-card__body {
  padding: 29px 0 10px;
}

.headline--about {
  margin-bottom: 5px;
  color: var(--white);
}

.description--about {
  line-height: 150%;
}

/** FORM **/

.form {
      -ms-flex-flow: column;
          flex-flow: column;
  width: 83%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  gap: var(--gap);
}

.form-column {
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  gap: var(--gap);
}

.form-column__textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 1px solid var(--white);
  border-radius: 30px;
  padding: 30px;
  width: 100%;
  min-height: 150px;
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  background-color: transparent;
  -webkit-transition: border 0.4s ease-in-out 0.1s, background 0.4s ease-in-out 0.1s;
  -o-transition: border 0.4s ease-in-out 0.1s, background 0.4s ease-in-out 0.1s;
  transition: border 0.4s ease-in-out 0.1s, background 0.4s ease-in-out 0.1s;
  resize: none;

  &::-webkit-input-placeholder {
    margin-right: 10px;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-gray);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  &::-moz-placeholder {
    margin-right: 10px;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-gray);
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  &:-ms-input-placeholder {
    margin-right: 10px;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-gray);
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  &::-ms-input-placeholder {
    margin-right: 10px;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-gray);
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  &::placeholder {
    margin-right: 10px;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-gray);
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  &:focus-visible::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  &:focus-visible::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  &:focus-visible:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  &:focus-visible::-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  &:focus-visible::placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  &:focus-visible {
    border: 1px solid var(--primary-light);
    background: var(--light-black);
  }

  &:hover {
    border: 1px solid var(--white);
  }

  &:active {
    border: 1px solid var(--white);
  }
}

.form-row {
  --offsets: 1;

  gap: var(--gap);
}

.form-row__label {
  position: relative;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  min-height: 70px;
}

.form-row__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 1px solid var(--white);
  border-radius: 40px;
  padding: 10px 30px;
  width: 100%;
  min-height: 70px;
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  background-color: transparent;
  -webkit-transition: border 0.4s ease-in-out 0.1s, background 0.4s ease-in-out 0.1s;
  -o-transition: border 0.4s ease-in-out 0.1s, background 0.4s ease-in-out 0.1s;
  transition: border 0.4s ease-in-out 0.1s, background 0.4s ease-in-out 0.1s;

  &::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-gray);
  }

  &::-moz-placeholder {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-gray);
  }

  &:-ms-input-placeholder {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-gray);
  }

  &::-ms-input-placeholder {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-gray);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-gray);
  }

  &:focus-visible::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  &:focus-visible::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  &:focus-visible:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  &:focus-visible::-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  &:focus-visible::placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  &:focus-visible {
    border: 1px solid var(--primary-light);
    background: var(--light-black);
  }

  &:hover {
    border: 1px solid var(--white);
  }

  &:active {
    border: 1px solid var(--white);
  }
}

.form-row__error {
  position: absolute;
  left: 31px;
  bottom: 48px;
  font-weight: 400;
  font-size: 12px;
  color: #d52b1e;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form-row__input:invalid:not(:-moz-placeholder-shown) {
  border-color: #d52b1e;

  & ~ .form-row__error {
    opacity: 1;
  }
}

.form-row__input:invalid:not(:-ms-input-placeholder) {
  border-color: #d52b1e;

  & ~ .form-row__error {
    opacity: 1;
  }
}

.form-row__input:invalid:not(:placeholder-shown) {
  border-color: #d52b1e;

  & ~ .form-row__error {
    opacity: 1;
  }
}

.form-row__input:valid {
  border-color: var(--white);
}

.form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-flow: column;
          flex-flow: column;
          align-items: flex-start;
  margin-top: auto;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
      -ms-flex-align: start;
  gap: var(--gap);
}

.form-submit__btn {
  padding: 24px 54px;
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  -webkit-transition: outline 0.2s, background 0.3s;
  -o-transition: outline 0.2s, background 0.3s;
  transition: outline 0.2s, background 0.3s;

  &:focus-visible {
    outline: 2px solid var(--primary-shade);
    background: var(--primary-light);
  }
}

@media (any-hover: hover) {
  .form-submit__btn:hover {
    background: var(--primary-light);
  }
}

.form-submit__btn:active {
  background: var(--primary-shade);
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          align-items: center;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
  gap: 8px;
}

.hidden-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox {
  position: relative;
  border: 1px solid var(--white);
  width: 14px;
  height: 14px;
  background: transparent;
  -webkit-transition: outline 0.3s ease-in-out;
  -o-transition: outline 0.3s ease-in-out;
  transition: outline 0.3s ease-in-out;

  & svg {
    position: absolute;
    left: 1px;
    top: 2px;
    width: 10px;
    height: 8px;
    stroke: var(--primary-light);
    stroke-width: 2;
    opacity: 0;
  }
}

.custom-checkbox .hidden-checkbox:checked ~ .checkbox svg {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox input:focus-visible ~ .checkbox {
  outline: 1px solid var(--white);
  outline-offset: 2px;
}

.custom-checkbox__descr {
  font-weight: 500;
  font-size: 12px;
  color: var(--white);
}

/** FOOTER **/

.footer {
  position: relative;
  padding-top: 91px;
  padding-bottom: 30px;
  background: var(--light-black);
}

.footer__container {
  padding-bottom: 73px;
}

.footer-body {
          justify-content: space-between;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
}

.footer-media {
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  gap: 18px;
}

.footer__logo {
  width: 160px;
  height: 25px;
}

.footer-media__social {
  width: 71%;
  gap: 22px;
}

.social__icon {
  outline: none;
  width: 23px;
  height: 24px;

  & svg {
    fill: var(--shade-gray);
    -webkit-transition: fill 0.3s ease;
    -o-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    aspect-ratio: 1/1;
  }

  &:focus-visible svg {
    fill: var(--primary-light);
  }
}

@media (any-hover: hover) {
  .social__icon:hover svg {
    fill: var(--primary);
  }
}

.social__icon:active svg {
  fill: var(--primary-shade);
}

.footer-nav {
  max-width: 455px;
}

.footer-nav__list {
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  -webkit-column-gap: 130px;
     -moz-column-gap: 130px;
          column-gap: 130px;
}

.footer-nav__item {
          break-inside: avoid-column;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;

  &:not(:last-child) {
    padding-bottom: 18px;
  }
}

.footer-nav__link {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: -5px;
  outline: none;
  padding: 5%;
  white-space: nowrap;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.footer-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.footer-nav__link:focus-visible::after {
  background-color: var(--primary-light);
  opacity: 1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media (any-hover: hover) {
  .footer-nav__link:hover {
    color: var(--primary);
  }
}

.footer-nav__link:active {
  color: var(--primary-shade);
}

.footer-registered {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          align-items: center;
          justify-content: center;
  padding-top: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.033;
  color: var(--text-gray);
  -webkit-box-align: center;
  -webkit-box-pack: center;
      -ms-flex-align: center;
      -ms-flex-pack: center;

  &::before {
    content: "";
    position: absolute;
    bottom: 25px;
    display: block;
    width: 100%;
    height: 12px;
    background-image: url("../image/icon/footer-wave.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.footer-bottom__wave {
  width: 100%;
  height: 12px;

  &,
  svg {
    fill: none;
    stroke: #f5f6f7;
    opacity: 0.6;
  }
}

.footer-registered .reg {
  top: -1px;
  padding: 0 4px;
  font-size: 100%;
}